#navigation-container {
  width: 4rem;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
  z-index: 10000000;
}

#navigation-container:hover {
  width: 10rem;
}

/* Initially hide nav-item-name */
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}


@media only screen and (max-width: 770px) {
  #navigation-container {
    width: 10rem;
    overflow: hidden;
  }
  .nav-item-name {
    display: block;
    transition: opacity 0.2s ease-in-out; /* Add opacity transition */
  }

  .nav-container {
    background-color: transparent;
  }
}

.nav-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}